<div class="footer">
  <span class="block">&lt;/&gt; Copyright &copy; disbb.com 2025 | 本站访问量<span id="busuanzi_value_site_pv"></span>次</span>
  <!-- 添加访问统计 -->
  <script async src="/assets/js/PageView.pure.mini.js"></script>
  <!-- 添加访问统计end -->
</div>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E47JLW60RW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E47JLW60RW');
</script>
